/* .Skill{
    
} */
.Education__heading{
    display: flex;
    padding: 0;
    justify-content: center;
    font-family: Helvetica;

}
.Education__heading p{
    font-size:2.2rem;
}
.Education__heading p:hover{
    text-decoration: underline ;
}
.Education__skills{
    display: flex;
    justify-content:center;
    border: 1px solid black;
    flex-direction: column;
}
.Education__skills ul{
    padding: 0;
    list-style: none;
    justify-content: space-around;
}
